#board_size_button {
  background-color: rgb(173, 184, 255);
  border: 2px solid rgb(56, 77, 214);
  border-radius: 5px;
  height: 40px;
  width: 75px;
  font-size: 16px;
}

#board_size_button:hover {
  background-color: cornflowerblue;
  color: white;
}

#grid_container {
  border: 2px solid black;
}

#placeholder_text {
  border: none;
}

#title {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(250, 255, 173);
  font-size: 40px;
}

#board_size_label {
  font-size: 30px;
  font-weight: bold;
}

#empty_cell {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

#prefilled_cell {
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
  color: black;
}

#solved_cell {
  color: steelblue;
  border: 1px solid black;
}

#correct_cell {
  background-color: rgb(138, 255, 155);
  border: 1px solid black;
}

#incorrect_cell {
  background-color: rgb(255, 138, 138);
  border: 1px solid black;
}